body {
color: white;
background-color:black;
margin: 0 auto;
opacity: 15;
}


header{
position: fixed;
height: 6em;
top: 0;
left: 0;
width: 100%;
background-color: black;
}

 a:link {
text-decoration: none;
}

a:hover{
color: red;
}

.home{
scroll-margin-top: 140px;
}


header a:hover{
border: 2px solid white;
padding: 0.3em;
background-color: white;
color: black;
opacity: 0.9;
}

.top {
color: white;
background-color: black;
height: 25em;
}

.topName{
color: white;
font-size: 3.5em;
font-family:  "Corbel Light";
line-height: 0;
}

.topText{
font-size: 17px;
font-family:  "Courier New";
color: white;
}

.about {
height: 45em;
background-color: white;
width:83em;
scroll-margin-top: 90px;
}

.aboutHeader{
padding-top: 1em;
margin-left: 2em;
font-size: 3.5em;
font-family:  "Corbel Light";
color: black;

}

.aboutText{
width: 65em;
margin-left:6.5em;
font-family:  "Courier New";
font-size: 17px;
margin-top: -1.8em;
margin-bottom: 5em;
color: black;
line-height: 1.5em;
}

.resume{
margin-left:5.5em;
border: 2px solid black;
padding: 1em;
color: black;
font-family:  "Courier New";
font-size: 1.2em;
padding-bottom: 1em;
}

.project{
height: 100em;
width: 75em;
padding-bottom: 3em;
scroll-margin-top: 130px;
}

.projectHeader {
font-family:  "Corbel Light";
margin-left: 2em;
font-size: 3.5em;
color: white;
}

.banking{
height: 45em;
color: white;
background-color: black;
margin-bottom: 5em;

}

.banking img{
border: 2px solid #000033;
}

.bankHeading {
font-family:  "Bahaus 93";
font-size: 2em;
font-weight: 15em;
color: white;
margin-left: 1em;
padding-bottom: 1em;
}

.bankdescription{
color: white;
font-family:  "Courier New";
font-size: 16px;
line-height: 1.5em;
margin-left: 2em;
}

.atmdescription{
color: white;
font-family:  "Courier New";
font-size: 16px;
margin-top: 2em;
line-height: 1.5em;
}

.atm{
padding-top: 2em;
color: white;
background-color: black;
height: 40em;

}

.atm img{
 border: 2px solid #000033;
}

hr{
 width: 83em;

}

.atmHeading{
font-family:  "Bahaus 93";
font-size: 2em;
margin-bottom: 0em;
color: white;
margin-left:0.2em;
padding-bottom: 0.2em;
}

.photo img{
height: 380px;
width: 290px;
margin-left: 9em;
}

 .nav ul{
list-style: none;
margin-left: 2.5em;
text-decoration:none;
display: flex;
}

.nav img{
width:2.5em;
height: 2.5em;
margin-right: 18em;
}

.nav li {
margin: 2em;
font-family:  "Courier New";
font-size: 20px;
text-decoration:none;
}

.navLink{
 color: white;
}

.banksource{
margin-left: 1.8em;
border: 2px solid white;
color: white;
font-family:  "Courier New";
font-size: 1.2em;
padding: 0.8em;
margin-bottom: 10em;
}

.atmsource{
border: 2px solid white;
color: white;
font-family:  "Courier New";
font-size: 1.2em;
padding: 0.8em;
}

.contact{
padding-top: 3em;
background-color: white;
height: 10em;
width:83em;
text-align:center;
}

.mail{
color: black;
font-size: 20px;
}

.dataLayer{
font-family:  "Courier New";
font-size: 18px;
}



